@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}






.test{
    color: rgb(249, 249, 250); font-size: 70 px; font-family: Arial, Helvetica, sans-serif;
}

   
    
header{
    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
   background: rgb(239, 239, 248);
   width: 100%;
   z-index: 999;
  
   padding:10px 40px ;
  
  position: fixed;

}
.container2{
    display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 70%;
  margin-left:15%;
  margin-right:15%; 
   justify-content: center; 
   background: hsl(253, 96%, 19%);
   border: .5px rgb(243, 241, 241) solid;
   font-size: 20px ;font-weight: 20px;color: hsl(274, 95%, 17%);border-radius: 20px;padding: 30px;
    overflow: auto;text-decoration: none
}
.a{ border:7px rgb(204, 19, 19) solid;margin: 20px;
    border-radius: 8px;
    transition: .65s ease;
}
.a:hover{
   transform: scale(1.65);opacity: .999;
}
 
 


  

.box1 {
   
display:inline-block;
   color: rgb(113, 10, 248);padding: 10px;text-align:center;margin: 1px;font-weight:700;
   text-decoration: none;font: size 20px;  
  transition: .35s ease;

}
.box1:hover{
    color: rgb(250, 9, 9);
}
.box1:hover{
    transform: scale(1.4);
 }
  
  




.logo{  font-size: 1.8em ;
    font-weight:900;
    color: rgb(113, 10, 248);
    text-decoration: none;font-size: 15px;

   
        border-radius: 4px;
        transition: .5s ease;
    }
    .logo:hover{
       transform: scale(2,1.16);opacity: .999;
    }
     








.b{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top:90px;
    padding-bottom:5px;
  
   text-align: center;
    font-size:40px;
    font-weight: bolder;
   color: rgb(236, 236, 238);
    border: .5px hsl(253, 96%, 19%) solid;
   align-content: center;
}
.b:hover{
    color: rgb(209, 28, 28);
}



.d{
  
    border: .5px hsl(253, 96%, 19%) solid;
    margin:30px;
    text-align: center;
    font-size: 60px;color: rgb(235, 242, 245);padding-top: 50px;
    padding-bottom: 5px;
    font-weight: bold;
    transition: .7s ease;
}
.d:hover{
    transform: scale(1.1);opacity: .999;
}
body{background:  hsl(253, 96%, 19%);}

footer {
   

    text-align: center;
    padding:30px;
    background-color: rgb(15, 15, 14);
    color: white;
  }
  .q{color: darkorange;font-family: 'Times New Roman', Times, serif;font-size: 25px;

  }
  